
<!DOCTYPE html>
<html lang="ja">
	<head>
		<script src="https://unpkg.com/vue@next"></script>
		<script src="https://cdn.jsdelivr.net/npm/file-saver@2.0.5/src/FileSaver.js"></script>
		<script src="https://unpkg.com/jszip@3.7.1/lib/index.js"></script>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
		<meta charset="utf-8"/>

		<title></title>

	</head>
	<body>
		<div id="app" style="">
			<div class="identities">
				<div style="font-size: larger; border-bottom: 1px black solid; width:33.5em; margin: 2em; margin-bottom: -1em">Identity</div>
				<div style="display: grid; grid-template-columns: 8.5em 8.5em 8.5em; margin:2em; margin-left: 3em;">
					<identity_card v-for="item in identities" :name="item.name" :value="item.value" @update-card-status="change_card_status" @delete-card="delete_card"></identity_card>
					<div style="display: flex;align-items: center; padding: 0.5em; padding-top:0.1em; padding-bottom: 0.1em; border-bottom: 1px black solid ; width: 8em;">
						<button v-on:click="add_new_identity" class="btn btn-secondary" style="padding: 0.1em; margin-left: -0.05em">+</button>
						<input class="new-identity-name" type="text" style="width:3em;font-size: small;margin-left:0.4em;">
						<input class="new-identity-value" type="text" style="margin-left: 0.2em;width: 3em">
					</div>
				</div>

			</div>

			<div class="abilities">
				<div style="font-size: larger; border-bottom: 1px black solid; width:33.5em; margin: 2em; margin-bottom: -1em">Abilities</div>
				<div style="display: grid; grid-template-columns: 13.5em 13.5em 13.5em; margin:2em; margin-left: 3em;">
					<ability_card v-for="item in abilities" :name="item.name" :value="item.value" @change-ability-status="change_card_status" @delete-ability="delete_card"></ability_card>
					<div style="display: flex;align-items: center; padding: 0.5em; padding-top:0.1em; padding-bottom: 0.1em; border-bottom: 1px black solid ; width: 12em;">
						<button v-on:click="add_new_ability" class="btn btn-secondary" style="padding: 0.1em; margin-left: -0.05em">+</button>
						<input class="new-ability-name" type="text" style="width:4.95em;font-size: small;margin-left:0.4em;">
						<input class="new-ability-value" type="number" value=0 style="margin-left: 0.2em;width: 4em" min="0" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57">
					</div>
				</div>			
			</div>
			<div class="skills">
				<div style="font-size: larger; border-bottom: 1px black solid; width:33.5em; margin: 2em; margin-bottom: -1em">Skills</div>
				<div style="display: grid; grid-template-columns: 13.5em 13.5em 13.5em; margin:2em; margin-left: 3em;">
					<skill_card v-for="item in skills" :name="item.name" :value="item.value" :is_checked="item.is_checked" @change-skill-status="change_card_status" @delete-skill="delete_card"/></skill_card>

					<div style="display: flex;align-items: center; padding: 0.5em; padding-top:0.1em; padding-bottom: 0.1em; border-bottom: 1px black solid ; width: 12em;">
						<button v-on:click="add_new_skill" class="btn btn-secondary" style="padding: 0.1em; margin-left: -0.05em">+</button>
						<input class="new-skill-name" type="text" style="width:6.1em;font-size: small;margin-left:0.4em;">
						<input class="new-skill-value" type="number" value=0 style="margin-left: 0.2em;width: 3em" min="0" max="99" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57">
					</div>
				</div>
			</div>

			<div style="margin: 2em">
				<a v-on:click="save_sheet" style="margin: 0.5em" class="btn btn-success">save</a>
				<label>
					<span  class="btn btn-primary">
						Choose File
						<input type="file" @change="load_sheet" style="display: none">
					</span>
				</label>
			</div>
		</div>

	</body>
</html>


<script type="text/javascript">
	document.oncontextmenu = function () {return false;}
	const app = Vue.createApp({
		data() {
			return {
				identities:[
					{name:"名前"   ,value:""},
					{name:"PC",value:""},
					{name:"職業"   ,value:""},
					{name:"年齢"   ,value:""},
					{name:"性別"   ,value:""},
					{name:"住所"   ,value:""},
					{name:"出身"   ,value:""}
				],
				abilities:[
					{name:"STR"   ,value:0},
					{name:"DEX"   ,value:0},
					{name:"INT"   ,value:0},
					{name:"CON"   ,value:0},
					{name:"APP"   ,value:0},
					{name:"POW"   ,value:0},
					{name:"SIZ"   ,value:0},
					{name:"EDU"   ,value:0},
					{name:"MOV"   ,value:0}
				],
				skills:[]
			}
		},
		methods:{
			save_sheet(){
				var blob = new Blob([JSON.stringify(this.skills)], {type: "text/plain;charset=utf-8"});
				saveAs(blob, "sheet.json");
			},
			load_sheet(event){
				var _this = this;
				var file = event.target.files[0];
				var reader = new FileReader();
				reader.readAsText(file);

				reader.onload = () => {
					var json = JSON.parse(reader.result);
					this.skills = json;
				};
			},
			delete_card(event_values){
				let card_type = event_values[2];
				let cards;

				switch(card_type){
					case 'identity':
						cards = this.identities;
						break;
					case 'ability':
						cards = this.abilities;
						break;
					case 'skill':
						cards = this.skills;
						break;
				}

				cards.forEach((card, index) => {
					if(card.name == event_values[1])cards.splice(index,1);
				});
			},
			change_card_status(event_values){
				let card_type = event_values["card_type"];
				let card_name = event_values["card_name"];
				let value = event_values["value"];
				let cards;

				let index;
				let change_method;

				switch(card_type){
					case 'identity':
						cards = this.identities;
						change_method = function(cards, index, value){
							cards[index]["value"] = value;
						};
						break;
					case 'ability':
						cards = this.abilities;
						change_method = function(cards, index, value){
							cards[index]["value"] = parseInt(value);
						};
						break;
					case 'skill':
						cards = this.skills;
						change_method = function(cards, index, value){
							if(value[0] == 'f' || value[0] == 't'){
								cards[index]["is_checked"] = value == "true" ? true : false;
							}else{
								value = parseInt(value);
								if(value > 99){
									value = 99;
								}else if(value < 0){
									value = 0;
								}
								cards[index]["value"] = value;
							}

						};
						break;
				}

				cards.forEach((card, index_) =>{
					if(card.name == card_name){
						index = index_;
					}
				});

				change_method(cards, index, value);
			},
			add_new_identity(event){
				console.log(event);
				let new_identity_value = document.getElementsByClassName("new-identity-value")[0].value;
				let new_identity_name  = document.getElementsByClassName("new-identity-name")[0].value;
				document.getElementsByClassName("new-identity-name")[0].value = "";
				document.getElementsByClassName("new-identity-value")[0].value = "";

				if(!new_identity_name)return;

				this.identities.forEach((identity, index) => {
					if(identity.name == new_identity_name)this.identities.splice(index, 1);
				});
				this.identities.push({name: new_identity_name, value: new_identity_value});
			},
			add_new_ability(event){
				let new_ability_value = parseInt(document.getElementsByClassName("new-ability-value")[0].value);
				let new_name = document.getElementsByClassName("new-ability-name")[0].value;
				document.getElementsByClassName("new-ability-name")[0].value = "";
				document.getElementsByClassName("new-ability-value")[0].value = "";

				if(!new_ability_value && new_ability_value != 0)return;
				if(!new_name)return;

				this.abilities.forEach((elem, index) => {
					if(elem.name == new_name)this.abilities.splice(index,1);
				});				
				this.abilities.push({name:new_name, value:new_ability_value});
			},
			add_new_skill(event){
				let new_skill_value = parseInt(document.getElementsByClassName("new-skill-value")[0].value);
				let new_skill_name = document.getElementsByClassName("new-skill-name")[0].value;
				document.getElementsByClassName("new-skill-name")[0].value = "";
				document.getElementsByClassName("new-skill-value")[0].value = "";

				if(!new_skill_value && new_skill_value != 0)return;
				if(!new_skill_name)return;

				this.skills.forEach((elem, index) => {
					if(elem.name == new_skill_name)this.skills.splice(index,1);
				});				
				this.skills.push({name:new_skill_name, value:new_skill_value, is_checked:false});
			}
		}
	});

	app.component("skill_card",{
		props: ['name','value'],
		props: {
			name: {
				type: String,
				required: true
			},
			value: {
				type: Number,
				required: true
			},
			is_checked: {
				type: Boolean,
				required: true
			}
		},
		template: `
			<div style="display: flex;align-items: center; padding: 0.5em; padding-top:0.1em; padding-bottom: 0.1em; border-bottom: 1px black solid ; width: 12em;">
				<input v-if="is_checked==true" type="checkbox" checked value=false @change="onChangeInput">
				<input v-else type="checkbox" value=true @change="onChangeInput">

				<div style="margin-left: 0.4em; width: 8em; font-size:small" @click.right.ctrl="deleteSkill">
					{{name}}:
				</div>
				<div style="margin-left: 0.4em">
					<input :value="value" type="number" @change="onChangeInput" style="width: 3em" min="0" max="99" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57">
				</div>
				<div style="font-size: x-small; margin-left: 0.6em; margin-top: 0.2em; width:2.5em;">
						<div style="text-decoration: underline; text-underline-position: under;">{{Math.floor(value/2)}}%</div>		
						<div>{{Math.floor(value/5)}}%</div>
				</div>
			</div>
		`,

		methods: {
			onChangeInput(event){
				this.$emit('change-skill-status', {card_type: "skill", card_name: this.name, value: event.target.value});
			},
			deleteSkill(event){
				this.$emit('delete-skill', [event, this.name, "skill"]);
			}
		}
	});

	app.component("ability_card",{
		props: ['name', 'value'],
		props: {
			name: {
				type: String,
				required: true
			},
			value: {
				type: Number,
				required: true
			}
		},
		template: `
			<div style="display: flex;align-items: center; padding: 0.5em; padding-top:0.1em; padding-bottom: 0.1em; border-bottom: 1px black solid ; width: 12em;">
				<div style="margin-left: 0.4em; width: 8em; font-size:small" @click.right.ctrl="deleteAbility">
					{{name}}:
				</div>
				<div style="margin-left: 0.4em">
					<input :value="value" type="number" @change="onChangeInput" style="width: 4em" min="0" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57">
				</div>
				<div style="font-size: x-small; margin-left: 0.6em; margin-top: 0.2em; width:2.5em;">
						<div style="text-decoration: underline; text-underline-position: under;">{{Math.floor(value/2)}}%</div>		
						<div>{{Math.floor(value/5)}}%</div>
				</div>
			</div>			
		`,

		methods: {
			onChangeInput(event){
				this.$emit('change-ability-status', {card_type: "ability", card_name: this.name, value: event.target.value});
			},
			deleteAbility(event){
				this.$emit('delete-ability', [event, this.name, "ability"]);
			}
		}
	})

	app.component("identity_card",{
		props: ['name', 'value'],
		props: {
			name: {
				type: String,
				required: true
			},
			value: {
				type: String,
				required: true
			}
		},
		template: `
			<div style="display: flex;align-items: center; padding: 0.5em; padding-top:0.1em; padding-bottom: 0.1em; border-bottom: 1px black solid ; width: 8em;">
				<div style="margin-left: 0.4em; width: 4.5em; font-size:small" @click.right.ctrl="deleteCard">
					{{name}}:
				</div>
				<div style="margin-left: 0.4em">
					<input :value="value" type="text" @change="updateCardStatus" style="width: 4em">
				</div>
			</div>			
		`,

		methods: {
			updateCardStatus(event){
				this.$emit('update-card-status', {card_type: "identity", card_name: this.name, value: event.target.value});
			},
			deleteCard(event){
				this.$emit('delete-card', [event, this.name, "identity"]);
			}
		}
	})

	app.mount("#app");

</script>