
<!DOCTYPE html>
<html lang="ja">
	<head>
		<script src="https://unpkg.com/vue@next"></script>
		<script src="https://cdn.jsdelivr.net/npm/file-saver@2.0.5/src/FileSaver.js"></script>
		<script src="https://unpkg.com/jszip@3.7.1/lib/index.js"></script>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
		<meta charset="utf-8"/>

		<title></title>

	</head>
	<body>
		<div id="app" style="">
			<div style="display: grid; grid-template-columns: 13.5em 13.5em 13.5em; margin:2em">
				<ability_card v-for="item in abilities" :ability_name="item.ja_name" :ability_id="item.en_name" :ability_value="item.value" :class="'ability-'+item.en_name" :is_checked="item.is_checked" @change-ability-status="change_ability_status" @delete-ability="delete_ability"/></ability_card>

				<div style="display: flex;align-items: center; padding: 0.5em; padding-top:0.1em; padding-bottom: 0.1em; border-bottom: 1px black solid ; width: 12em;">
					<button v-on:click="add_new_ability" class="btn btn-secondary" style="padding: 0.1em; margin-left: -0.05em">+</button>
					<input class="new-ability-name" type="text" name="" style="width:6.1em;font-size: small;margin-left:0.4em;">
					<input class="new-ability-value" type="number" style="margin-left: 0.2em;width: 3em" min="0" max="99" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57">
				</div>
			</div>

			<div style="margin: 2em">
				<a v-on:click="save_sheet" style="margin: 0.5em" class="btn btn-success">save</a>
				<label>
					<span  class="btn btn-primary">
						Choose File
						<input type="file" @change="load_sheet" style="display: none">
					</span>
				</label>
			</div>
		</div>

	</body>
</html>


<script type="text/javascript">
	document.oncontextmenu = function () {return false;}
	const app = Vue.createApp({
		data() {
			return {
				abilities:[/*
					intimidating:{ja_name: "威圧", en_name: "intimidating",  value: 15, is_checked: false},
					say:{ja_name: "言いくるめ", en_name: "say", value: 5, is_checked: false},
					medicine:{ja_name: "医学", en_name: "medicine", value: 1, is_checked: false},
					drive:{ja_name: "運転(自動車)", en_name: "drive", value: 20, is_checked: false},
					first_aid:{ja_name: "応急手当", en_name: "first_aid", value: 30, is_checked: false},
					occult:{ja_name: "オカルト", en_name: "occult", value: 5, is_checked: false},
					covert:{ja_name: "隠密", en_name: "covert", value: 20, is_checked: false},
					avoidance:{ja_name: "回避", en_name: "avoidance", value: 0, is_checked: false},
					science:{ja_name: "科学", en_name: "science", value: 1, is_checked: false},
					picking:{ja_name: "鍵開け", en_name: "science", value: 1, is_checked: false},
					appraisal:{ja_name: "鑑定", en_name: "appraisal", value: 20, is_checked: false},
					machine_repair:{ja_name: "機械修理", en_name: "machine_repair", value:10, is_checked: false},
					hearing:{ja_name: "聞き耳", en_name: "hearing", value:20, is_checked:false},
					cqb:{ja_name:"近接格闘", en_name: "cqb", value: 25, is_checked: false},
					cthulhu_mythos:{ja_name:"クトゥルフ神話",en_name:"cthulhu_mythos", value:0,is_checked:false},
					art:{ja_name:"芸術",en_name:"art",value:5,is_checked:false},
					accounting:{ja_name:"経理",en_name:"accounting",value:5,is_checked:false},
					archeology:{ja_name:"考古学",en_name:"archeology",value:1,is_checked:false},
					computer:{ja_name:"コンピューター",en_name:"component",value:5,is_checked:false},
					survival:{ja_name:"サバイバル",en_name:"survival",value:10,is_checked:false},
					nature:{ja_name:"自然",en_name:"nature",value:10,is_checked:false},
					shoot_by_handgun:{ja_name:"射撃(拳銃)",en_name:"shoot_by_handgun",value:20,is_checked:false},
					shoot_by_rifle:{ja_name:"射撃(RF/SG)",en_name:"shoot_by_rifle",value:25,is_checked:false},
					heavy_machine_operation:{ja_name:"重機械操作",en_name:"heavy_machine_operation",value:1,is_checked:false},
					credit:{ja_name:"信用",en_name:"credit",value:0,is_checked:false},
					psychology:{ja_name:"心理学",en_name:"psychology",value:10,is_checked:false},
					anthropology:{ja_name:"人類学",en_name:"anthropology",value:1,is_checked:false},
					swim:{ja_name:"水泳",en_name:"swim",value:20,is_checked:false}*/
				]
			}
		},
		methods:{
			change_ability_status(event_value){
				if(event_value[0][0] == 'f' || event_value[0][0] == 't'){
					this.abilities[event_value[1]]["is_checked"] = event_value[0] == "true" ? true : false;
				}else{
					if(parseInt(event_value[0]) > 99){
						event_value[0] = 99;
					}else if(parseInt(event_value[0] < 0)){
						event_value[0] = 0;
					}

					//実パラメーター配列の更新
					this.abilities[event_value[1]]["value"] = parseInt(event_value[0]);			
				}
			},
			save_sheet(){
				var blob = new Blob([JSON.stringify(this.abilities)], {type: "text/plain;charset=utf-8"});
				saveAs(blob, "sheet.json");
			},
			load_sheet(event){
				var _this = this;
				var file = event.target.files[0];
				var reader = new FileReader();
				reader.readAsText(file);

				reader.onload = () => {
					var json = JSON.parse(reader.result);
					this.abilities = json;
				};
			},
			delete_ability(event_value){
				delete this.abilities[event_value[1]];
				delete this.abilities.filter(
						function(value){
							console.log(event_value[1]);
							console.log(value.en_name);
							return value.en_name == event_value[1];
						})
				
			},
			add_new_ability(event){
				var new_ability_value = parseInt(document.getElementsByClassName("new-ability-value")[0].value);
				var new_ability_name = document.getElementsByClassName("new-ability-name")[0].value;
				this.abilities[new_ability_name] = {ja_name:new_ability_name, en_name:new_ability_name, value:new_ability_value, is_checked:false};
			}
		}
	});

	app.component("ability_card",{
		props: ['ability_name','ability_id', 'ability_value'],
		props: {
			ability_name: {
				type: String,
				required: true
			},
			ability_id: {
				type: String,
				required: true
			},
			ability_value: {
				type: Number,
				required: true
			},
			is_checked: {
				type: Boolean,
				required: true
			}
		},
		template: `
			<div style="display: flex;align-items: center; padding: 0.5em; padding-top:0.1em; padding-bottom: 0.1em; border-bottom: 1px black solid ; width: 12em;">
				<input v-if="is_checked==true" type="checkbox" checked value=false @change="onChangeInput">
				<input v-else type="checkbox" value=true @change="onChangeInput">

				<div style="margin-left: 0.4em; width: 8em; font-size:small" @click.right.prevent="deleteAbility">
					{{ability_name}}:
				</div>
				<div style="margin-left: 0.4em">
					<input :value="ability_value" type="number" @change="onChangeInput" style="width: 3em" min="0" max="99" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57">
				</div>
				<div style="font-size: x-small; margin-left: 0.6em; margin-top: 0.2em; width:2.5em;">
						<div style="text-decoration: underline; text-underline-position: under;">{{Math.floor(ability_value/2)}}%</div>		
						<div>{{Math.floor(ability_value/5)}}%</div>
				</div>
			</div>
		`,

		methods: {
			onChangeInput(event){
				this.$emit('change-ability-status', [event.target.value, this.ability_id]);
			},
			deleteAbility(event){
				console.log(event);
				this.$emit('delete-ability', [event, this.ability_id]);
			}
		}
	});

	app.mount("#app");

</script>